* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.container {
    /* height: 50%; */
    width: 50%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-items: space-around;
    align-items: center;
    padding: 1em;
    /* background-color: gray; */
}

.panels {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* background-color: gray; */
}

.exit {
    font-size: 1em;
    /* color: white; */
    margin: 0.25em;
    float: right;
    position: relative;
    cursor: pointer;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.panel {
    height: auto;
    width: 100%;
    background: lightgray;
    border: 1px solid gray;
    border-radius: 0.5em ;
    padding: 0.5em;
    margin: 0.5em;
    display: flex;
    flex-flow: row nowrap;
    visibility: visible;
    transition: height 1s ease-out;
}

#base .panel .exit {
    border: none;
}

.content {
    flex-grow: 4;
}

.banner {
    border-radius: 0.25em;
    padding: 0.25em;
    border-left: 2px solid darkgray;
    vertical-align: middle;
    position: relative;
}

.banner .exit {
    font-size: 1em;
    width: 1em;
    text-align: center;
    top: -0.25em;
    right: -0.25em;
    border-radius: 0 .25em .25em 0;
    border-left: 1px solid darkgray;
    padding: 0.25em;
    position: absolute;
}

.banner .exit:hover {
    background: rgb(238, 238, 238);
}

.banner .exit:active {
    background: white;
}

.primary {
    background: lightskyblue;
    border: 1px solid royalblue;
    color: royalblue;
}

.primary .exit {
    color: royalblue;
    border-left: 1px solid royalblue;
}

.primary .exit:hover {
    background-color: lightblue;
}

.primary .exit:active {
    background-color: white;
}

.secondary {
    background: lightgreen;
    border: 1px solid forestgreen;
    color: forestgreen;
}

.secondary .exit {
    color: forestgreen;
    border-left: 1px solid forestgreen;
}

.secondary .exit:hover {
    background-color: rgb(174, 243, 174);
}

.secondary .exit:active {
    background-color: white;
}

.warning {
    background: lightyellow;
    border: 1px solid orange;
    color: orange;
}

.warning .exit {
    color: orange;
    border-left: 1px solid orange;
}

.warning .exit:hover {
    background-color: rgb(223, 223, 155);
}
.warning .exit:active {
    background-color: white;
}

.alert {
    background: lightcoral;
    border: 1px solid darkred;
    color: darkred;
}

.alert .exit {
    color: darkred;
    border-left: 1px solid darkred;
}

.alert .exit:hover {
    background-color: rgb(190, 41, 41);
}

.alert .exit:active {
    background-color: white;
}

.banner {}
.closeable {}